:root{
    --bg-color:#1e1d2b;
    --card-bg:#2B86C5;
    --text-color:#fff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Monteserrat" sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    line-height: 1.5;
    font-weight: 400;
    padding-top: 7rem;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    margin-bottom: 30px;
    text-align: center;
}

